.app-services{
  position: relative;
  min-height: 120vh;
  max-width: 1416px;
  margin-bottom: 160px;
}

.island-container{
  position: absolute;
  top: 24%;
  left: 5%;
  z-index: 1;
}


.one, .two, .three{
  position: absolute;
  opacity: 0.8;
}

.one{
  left: -8%;
  top: 15%;
  transform: rotate(-5deg);
}


.three{
  left: 70%;
}

@media (min-width: 375px) and (max-width: 767px){
  .app-services{
    position: relative;
    min-height: max-content;
    max-width: 100%;
    margin-bottom: 160px;
    overflow: hidden;
  }

  .one{
    left: -8%;
    top: 15%;
    transform: rotate(-5deg);
  }


  .three{
    left: -8%;
    top: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .app-services{
    position: relative;
    min-height: max-content;
    max-width: 100%;
    margin-bottom: 160px;
    overflow: hidden;
  }

  .one{
    left: 23%;
    top: 4%;
    transform: rotate(-5deg);
  }


  .three{
    left: -3%;
    top: 51%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){

  .app-services{
    position: relative;
    min-height: 120vh;
    max-width: 100%;
    margin-bottom: 160px;
    overflow: hidden;
    padding: 20px;
  }

  .island-container{
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
  }

  .island-container img{
    width: 980px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px){
  .app-services{
    position: relative;
    min-height: 140vh;
    width: 1200px;
    margin-bottom: 160px;
    overflow: visible;
    padding: 20px;
    margin: 0 auto;
  }

  .island-container{
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
  }

  .island-container img{
    width: 980px;
  }

  .three{
    left: 40%;
  }
}
