<section class="app-services" id="app-services">
  <img class="one" src="/assets/textures/service_cloud.webp" alt="cloud-1">
  <img class="three" src="/assets/textures/service_cloud.webp" alt="cloud-3">
  <app-page-header
    [headerText]="'Услуги'"
    [subHeaderText]="'Мы предлагаем широкий спектр услуг и гарантируем качество.'"
  ></app-page-header>
  <app-service-card></app-service-card>
  <div class="island-container">
    <img src="/assets/pictures/islands/entires/first_island.webp" alt="first_island">
  </div>
</section>
