.carousel-wrapper {
  position: relative;
  width: 1410px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  z-index: 2;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  height: 170px;
  max-width: 254px;
  margin: 10px;
  gap: 13px;
}

.s-text-img{
  height: 85px;
  filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.3));
}

.carousel-image {
  max-width: 160px;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(-2px 3px 1px #0000004d);
}

.s-button{
  border-radius: 5px;
  background-color: #AB8858;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 19px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.s-button:hover{
  background-color: #8b6f48;
}

@media (min-width: 375px) and (max-width: 767px){
  .carousel-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    z-index: 2;
  }

  .image-wrapper{
    gap: 5px;
  }

  .s-text-img{
    height: 35px;
  }

  .s-button{
    font-size: 7px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .image-wrapper {
    height: 79px;
    max-width: 98px;
    margin: 5px;
  }

  .carousel-image {
    max-width: 78px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .carousel-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    z-index: 2;
  }

  .image-wrapper {
    height: 90%;
    max-width: 90%;
    margin: 5px;
  }

  .carousel-image {
    max-width: 90px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .carousel-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    z-index: 2;
  }

  .image-wrapper {
    height: 90%;
    max-width: 90%;
    margin: 5px;
  }

  .carousel-image {
    max-width: 90px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px){
  .carousel-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    z-index: 2;
  }

  .image-wrapper {
    height: 130px;
    max-width: 90%;
    margin: 5px;
  }

  .s-button{
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .s-text-img{
    height: 65px;
  }

  .carousel-image {
    max-width: 90px;
  }
}
