<div class="carousel-wrapper">
  <p-carousel
    [value]="renderedPartners"
    [numVisible]="numVisible"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="2000"
  >
    <ng-template let-image #item>
      @if (!!image) {
        <div class="image-wrapper glass-card">
          <img [src]="image" alt="Image" class="carousel-image" />
        </div>
      } @else {
        <div class="image-wrapper glass-card">
          <span>Место для вашей компании</span>
        </div>
      }

    </ng-template>
  </p-carousel>
</div>

