.home-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #BAF6FD,
    #DCD29C,
    #7FA6DF,
    #BC9F8C,
    #CE7333,
    #5B5381,
    #6FB6E9,
    #1A1D57,
    #242434,
    #242434
  );
}

@media (min-width: 375px) and (max-width: 767px){
  .home-page{
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
   .home-page{
    width: 100%;
  }
}

