<section class="app-greet" id="app-greet">
  <div class="section-wrapper">
    <div class="text-container">
      <img class="ostankino" src="/assets/pictures/objects/ostankino_full.webp" alt="ostankino">
      <div class="main-text">
        <h1>
          ООО "Инвентаризация" —
          Компания, проверенная временем
        </h1>
        <div class="main-take">
          <img class="left-olive" src="/assets/icons/left_olive_big.svg" alt="left-olive">
          <span>ОСНОВАНА В 2011 ГОДУ</span>
          <img class="right-olive" src="/assets/icons/left_olive_big.svg" alt="right-olive">
        </div>
        <div class="list">
          <div class="list-item">
            <img src="/assets/icons/left_olive_bullit.svg" alt="olive-bullit">
            <span>
              <b>Наша миссия</b> оперативно предоставлять исчерпывающую информацию
              о фактическом состоянии инвентаризируемого имущества.
            </span>
          </div>
          <div class="list-item">
            <img src="/assets/icons/left_olive_bullit.svg" alt="olive-bullit">
            <span>
              <b>Работаем</b> по всей России.
            </span>
          </div>
          <div class="list-item">
            <img src="/assets/icons/left_olive_bullit.svg" alt="olive-bullit">
            <span>
              <b>Оказываем услуги по инвентаризации</b> активов для организаций всех форм
              собственности и видов деятельности.
            </span>
          </div>
        </div>
        <app-order-button
          [buttonText]="'Оставить заявку'"
          [opensDialog]="true"
          class="add-margin"
        ></app-order-button>
      </div>
    </div>
    <div class="right-side">
      <img src="/assets/pictures/logos/logo_big.webp" alt="big-logo">
    </div>
  </div>
</section>
