/* * {
  outline: 1px solid red;
} */

.app-greet{
  height: auto;
  width: 1416px;
  margin-bottom: 160px;
  padding: 30px 0 30px 0;
  position: relative;
}

.section-wrapper{
  position: relative;
  display: flex;
  align-items: center;
}

.text-container{
  position: relative;
  font-family: 'Inter', sans-serif;
  display: flex;
  width: 817px;
  z-index: 2;
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.12);
  padding: 80px 0 40px 10px;
  border-radius: 5px;
}

.text-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 5px;
}

.main-text h1{
  font-size: 40px;
  font-weight: 600;
  margin: 160px 0 41px 0;
  color: #303030;
}

.main-take{
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}

.main-take span{
  color: #AB8858;
  font-weight: 600;
  font-size: 32px;
}

.right-olive{
  transform: scaleX(-1);
}

.list{
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-bottom: 84px;
}

.list-item{
  display: flex;
  align-items: center;
  gap: 13px;
}

.list-item span{
  font-size: 24px;
  color: #303030;
}

.right-side{
  position: absolute;
  right: -10%;
}

.right-side img{
  width: 887px;
  height: 887px;
}

.add-margin{
  margin-left: 35px;
}

@media (min-width: 375px) and (max-width: 767px){
  .ostankino{
    position: absolute;
    left: -56px;
    bottom: 0;
    z-index: -1;
    height: 830px;
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-wrapper{
    min-width: 100%;
    max-width: 100%;
  }

  .app-greet{
    height: auto;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 100px;
    overflow: hidden;
  }

  .section-wrapper{
    width: 375px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .text-container{
    width: 100%;
    box-shadow: none;
  }

  .text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .main-text h1{
    font-size: 24px;
    margin: 45px 0 40px 20px;
  }

  .main-take{
    margin: 0 0 22px 20px;
  }

  .main-take span{
    font-size: 20px;
  }

  .list-item{
    margin: 0 15px 0 20px;
  }

  .list-item span{
    font-size: 16px;
  }

  .list{
    margin-bottom: 250px;
    gap: 28px;
  }

  .right-side{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 11%;
    z-index: 3;
  }

  .right-side img{
    width: 230px;
    height: 230px;
  }

  .right-olive,
  .left-olive{
    width: 23px;
    height: 26px;
  }

  .add-margin{
    margin-left: 65px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .app-greet{
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;
    padding: 0 0 30px 0;
  }

  .text-container{
    width: 60%;
  }

  .text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .main-text h1{
    font-size: 28px;
  }

  .main-take{
    margin-bottom: 30px;
  }

  .main-take span{
    font-size: 18px;
  }

  .list{
    gap: 18px;
    margin-bottom: 42px;
  }

  .list-item{
    gap: 8px;
  }

  .list-item span{
    font-size: 16px;
  }

  .right-side{
    position: absolute;
    left: 44%;
    bottom: 18%;
    z-index: 3;
  }

  .right-side img{
    width: 430px;
    height: 430px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .app-greet{
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .main-text h1{
    font-size: 35px;
  }

  .main-take span{
    font-size: 28px;
  }

  .list-item span{
    font-size: 20px;
    width: 320px;
  }

  .right-side{
    position: absolute;
    right: 0;
    bottom: 18%;
    z-index: 3;
  }

  .right-side img{
    width: 530px;
    height: 530px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px){
  .app-greet{
    height: auto;
    width: 1200px;
    margin-bottom: 160px;
    margin: 0 auto;
  }

  .right-side{
    position: absolute;
    right: 0;
    bottom: 18%;
    z-index: 3;
  }

  .right-side img{
    width: 630px;
    height: 630px;
  }
}
