.app-greet{
  min-height: 100vh;
  min-width: 1416px;
  margin-bottom: 160px;
}

.section-wrapper{
  position: relative;
  display: flex;
}

.text-container{
  position: relative;
  font-family: 'Inter', sans-serif;
  display: flex;
  width: 817px;
  z-index: 2;
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.12);
  padding: 80px 0 40px 10px;
  border-radius: 5px;
}

.text-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 5px;
}

.main-text h1{
  font-size: 40px;
  font-weight: 600;
  margin: 160px 0 41px 0;
  color: #303030;
}

.main-take{
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}

.main-take span{
  color: #AB8858;
  font-weight: 600;
  font-size: 32px;
}

.right-olive{
  transform: scaleX(-1);
}

.list{
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-bottom: 84px;
}

.list-item{
  display: flex;
  align-items: center;
  gap: 13px;
}

.list-item span{
  font-size: 24px;
  color: #303030;
}

.right-side{
  position: absolute;
  right: -111px;
  bottom: 0;
}

.logo-container{
  position: relative;
  width: 727px;
  height: 727px;
  z-index: 2;
}

.moscow-city,
.logo-divider,
.main-logo{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moscow-city{
  width: 635px;
  height: 635px;
  opacity: 0.7;
}

.logo-divider{
  position: relative;
  width: 650px;
  height: 650px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) rotate(56deg);
  transform-origin: center center;
  border-radius: 6px;
}

.logo-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 6px;
}

.add-margin{
  margin-left: 35px;
}
