<div class="mobile-menu" [class.open]="isOpen$ | async">
  <div class="menu-content">
    <button class="close-btn" (click)="closeMenu()">
      <svg width="42" height="42" viewBox="0 0 24 24">
        <path d="M6 6l12 12M6 18L18 6" stroke="white" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
    <nav>
      <a href="#app-services" (click)="closeMenu()">Услуги</a>
      <a href="#app-clients" (click)="closeMenu()">Клиенты</a>
      <a href="#app-career" (click)="closeMenu()">Вакансии</a>
      <a href="#app-contacts" (click)="closeMenu()">Контакты</a>
    </nav>
    <div class="logo">
      <a href="/">
        <img src="/assets/pictures/logos/header_logo.webp" alt="logo">
      </a>
    </div>
  </div>
</div>
