.privacy-policy{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
     to bottom,
    #1F2147,
    #242434,
  );
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  padding-bottom: 80px;
}

.page-wrapper{
  position: relative;
  width: 1416px;
  padding-top: 64px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 22px;
  margin-top: 40px;
}

.main-str{
  margin-bottom: 15px;
}

.item-w-bullit{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 22px;
}

.item-w-bullit .bullit{
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 6px;
}

.button-container{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
