.career-button {
  font-size: 32px;
  font-weight: 600;
  padding: 15px 46px;
}

@media (min-width: 375px) and (max-width: 770px){
  .career-button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 46px;
    margin-left: 20px;
  }
}
