<div class="admin-page" id="admin-page">
  <div class="page-wrapper">
    <div class="header-container">
      <h1>Панель администратора</h1>
      <button class="logout-btn" (click)="logout()">
        Выйти
        <img src="/assets/icons/logout.svg" alt="log-out">
      </button>
    </div>
    <app-file-explorer></app-file-explorer>
    <app-partners-control></app-partners-control>
    <app-grat-control></app-grat-control>
    <app-logo-control></app-logo-control>
    <app-mail-config-redactor></app-mail-config-redactor>
    <app-log-view></app-log-view>
  </div>
</div>
