.add-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #BAF6FD, #DCD29C);
  color: #303030;
  font-family: 'Inter', sans-serif;
  padding-bottom: 80px;
}

@media (min-width: 375px) and (max-width: 767px){
  .add-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #BAF6FD, #DCD29C);
    color: #303030;
    font-family: 'Inter', sans-serif;
    padding: 40px 30px 80px 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .add-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #BAF6FD, #DCD29C);
    color: #303030;
    font-family: 'Inter', sans-serif;
    padding: 40px 30px 80px 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px){
  .add-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #BAF6FD, #DCD29C);
    color: #303030;
    font-family: 'Inter', sans-serif;
    padding: 40px 30px 80px 30px;
  }
}
