@mixin add-page {
  .add-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
     to bottom,
    #BAF6FD,
    #DCD29C,
  );
  color: #303030;
  font-family: 'Inter', sans-serif;
  padding-bottom: 80px;
}
}

