.additional-btn {
  position: relative;
  overflow: hidden;
  padding: 7px 15px;
  background-color: #AB8858;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.additional-btn:hover{
  background-color: #906B45;
}
