<section id="app-career" class="app-career">
  <app-page-header
    [headerText]="'Вакансии и карьера'"
    [subHeaderText]="'Наша гордость - это наши сотрудники!'"
  ></app-page-header>
  <div class="big-card glass-card">
    <div class="line">
      <div class="str-w-icon">
        <img src="/assets/icons/rocket.svg" alt="rocket">
        <p><b>Достигнутые нами успехи и завоеванная репутация в основном дело их рук.</b></p>
      </div>
      <p>
        <b>Именно их труд</b>, профессионализм и преданность делу сделали нас Компанией, которой
        доверяют и уважают клиенты и партнеры.
      </p>
    </div>
    <div class="line">
      <div class="str-w-icon">
        <img src="/assets/icons/info_circle.svg" alt="info_circle">
        <p>
          <b>Мы заинтересованы</b> в целеустремленных, амбициозных кандидатах,
          обладающих хорошими коммуникативными навыками,
        </p>
      </div>
      <p>
        способных работать самостоятельно
        и в команде, нацеленных на созидание и реализацию идей, добивающихся поставленных целей,
        желающих раскрыть свой потенциал и готовых к полной самоотдаче.
      </p>
    </div>
    <p>
      <b>Главное</b> — опыт участия в инвентаризациях
      <b>не "глазами"</b>, а <b>"руками"</b> и желание работать на результат!
    </p>
    <p><b>Если это про Вас - присоединяйтесь к нам!</b></p>
  </div>
  <div class="mini-cards-container">
    <div class="mini-card glass-card">
      <div class="header-container">
        <img src="/assets/icons/search.svg" alt="card-icon">
        <h4>Берем в команду:</h4>
      </div>
      <div class="divider"></div>
      <div class="list">
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Партнер, дилер, представитель</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Аудитора</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p><s>Счетчика</s>  Ревизора</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Контролера</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p><s>Ведомого специалиста</s></p>
        </div>
      </div>
    </div>

    <div class="mini-card glass-card">
      <div class="header-container">
        <img src="/assets/icons/money.svg" alt="card-icon">
        <h4>Готовы предложить:</h4>
      </div>
      <div class="divider"></div>
      <div class="list">
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Удаленную работу - "Волка ноги кормят"</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Сдельную оплату - "Без труда не вынешь и рыбки из пруда"</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Возможность неограниченного заработка - "Как посеешь, так и пожнешь"</p>
        </div>
        <div class="item-w-bullit">
          <div class="bullit"></div>
          <p>Командировки - "Под лежачий камень и вода не течет"</p>
        </div>
    </div>
  </div>
  </div>
  <div class="island-container">
    <img src="/assets/pictures/islands/entires/third_island.webp" alt="second_island">
  </div>
  <app-career-button [opensDialog]="true"></app-career-button>
</section>
