.page-header{
  font-family: 'Inter', sans-serif;
  color: #ffff;
}

.page-header h1{
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}

.header-divider{
  width: 59px;
  height: 2px;
  background-color: white;
}

.page-header h4{
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
