<section id="app-clients" class="app-clients">
  <img class="one" src="/assets/textures/clients_cloud.webp" alt="cloud-1">
  <img class="two" src="/assets/textures/clients_cloud2.webp" alt="cloud-3">
  <img class="three" src="/assets/textures/clients_cloud.webp" alt="cloud-3">
  <app-page-header
    [headerText]="'Наши клиенты'"
    [subHeaderText]="'Довольны результатом – рекомендуют нас!'"
  ></app-page-header>
  <div class="margint-top">
    <app-carousel></app-carousel>
  </div>

  <div class="island-container">
    <img src="/assets/pictures/islands/entires/second_island.webp" alt="second_island">
  </div>
</section>
