.app-clients{
  position: relative;
  min-height: 140vh;
  min-width: 1416px;
  margin-bottom: 160px;
}

.island-container{
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 1;
}

.margint-top{
  margin-top: 60px;
}

.one, .two, .three{
  position: absolute;
  opacity: 0.7;
}

.one{
  left: -8%;
  top: 22%;
  transform: rotate(180deg);
}

.two{
  top: 6%;
  left: 25%;
}

.three{
  top: 30%;
  left: 70%;
}
