<section id="app-clients" class="app-clients">
  <img class="one" src="/assets/textures/clients_cloud.webp" alt="cloud-1">
  <img class="two" src="/assets/textures/clients_cloud2.webp" alt="cloud-3">
  <img class="three" src="/assets/textures/clients_cloud.webp" alt="cloud-3">
  <app-page-header
    [headerText]="'Наши клиенты'"
    [subHeaderText]="'Довольны результатом – рекомендуют нас!'"
  ></app-page-header>

  <div class="margint-top">
    <app-carousel [partners]="partners"></app-carousel>
  </div>

  <div class="island-container1" *ngIf="!(showIsland$ | async)">
    <img src="/assets/pictures/islands/halves/island2.1.webp" alt="first_island">
  </div>

  <div class="margint-top">
    <app-gratitude-carousel [gratitude]="gratitude"></app-gratitude-carousel>
  </div>

  <div class="island-container2" *ngIf="!(showIsland$ | async)">
    <img src="/assets/pictures/islands/halves/island2.2.webp" alt="first_island">
  </div>

  <div class="island-container" *ngIf="showIsland$ | async">
    <img src="/assets/pictures/islands/entires/second_island.webp" alt="second_island">
  </div>
</section>
