<div *ngIf="content" class="additional-page add-page" id="additional-page">
  <img class="one" src="/assets/textures/service_cloud.webp" alt="cloud-1">
  <img class="two" src="/assets/textures/clients_cloud.webp" alt="cloud-2">
  <img class="three" src="/assets/textures/service_cloud.webp" alt="cloud-3">
  <div class="page-wrapper">
    <div class="header-container">
      <div class="logo-container">
        <img [src]="content.icon" alt="{{content.icon.toString()}}">
        <div class="divider"></div>
      </div>
      <h1>{{ content.title }}</h1>
    </div>
    <h3>Список услуг:</h3>
    <div class="list">
      <div class="item-w-bullit" *ngFor="let item of content.items" >
        <div class="bullit"></div>
        <p>{{ item }}</p>
      </div>
    </div>
    <div class="button-container">
      <app-back-button
        [padding]="'18px 19px'"
      >
      </app-back-button>
      <app-order-button
        [buttonText]="'Оставить заявку'"
        class="add-margin"
        [opensDialog]="true"
      ></app-order-button>
    </div>
  </div>
</div>
