
<section id="app-contacts" class="app-contacts">
  <app-page-header
    [headerText]="'Контакты'"
    [subHeaderText]=""
  ></app-page-header>
  <div class="cards-container">
    <div class="card glass-card">
      <h4>Центральный офис</h4>
      <div class="divider"></div>
      <div class="list">
        <div class="item-w-icon">
          <img src="/assets/icons/address.svg" alt="address">
          <p><b>Адрес:</b> {{companyInfo?.address}}</p>
        </div>
        <div class="item-w-icon">
          <img src="/assets/icons/phone.svg" alt="">
          <p><b>Телефон:</b> {{companyInfo?.phone || "Загрузка..."}}</p>
        </div>
        <div class="item-w-icon">
          <img src="/assets/icons/mail_pencil.svg" alt="">
          <p><b>E-mail:</b> {{companyInfo?.email || "Загрузка..."}}</p>
        </div>
      </div>
    </div>

    <div class="island-container1" *ngIf="!(showIsland$ | async)">
      <img src="/assets/pictures/islands/halves/island4.1.webp" alt="second_island">
    </div>

    <div class="card glass-card">
      <h4>Реквизиты</h4>
      <div class="divider"></div>
      <div class="list">
        <p><b>{{details?.title || "ООО \"Инвентаризация\""}}</b></p>
        <p><b>ОГРН:</b> {{details?.ogrn || "Загрузка..."}}</p>
        <p><b>ИНН:</b> {{details?.inn || "Загрузка..."}}</p>
        <p><b>КПП:</b> {{details?.kpp || "Загрузка..."}}</p>
        <p><b>Р/С</b> {{details?.rs || "Загрузка..."}}</p>
        <p><b>БИК</b> {{details?.bik || "Загрузка..."}}</p>
        <p><b>БАНК</b> {{details?.bankName || "Загрузка..."}}</p>
        <p><b>К/С</b> {{details?.ks || "Загрузка..."}}</p>
      </div>
    </div>
  </div>

  <div class="island-container2" *ngIf="!(showIsland$ | async)">
    <img src="/assets/pictures/islands/halves/island4.2.webp" alt="second_island">
  </div>

  <div class="island-container" *ngIf="showIsland$ | async">
    <img src="/assets/pictures/islands/entires/forth_island.webp" alt="second_island">
  </div>
  <div class="footer-text">
    <p>Благодарим за интерес проявленный к нашим услугам. </p>
    <p class="margin">Нацелены на долговременное и взаимовыгодное сотрудничество!</p>
    <app-order-button
      [buttonText]="'Оставить заявку'"
      [opensDialog]="true"
    ></app-order-button>
  </div>
</section>
