<div class="login-page" id="login-page">
  <div class="content-wrapper">
    <div class="auth-container">
      <h1 class="auth-title">Вход в систему</h1>

      <form (ngSubmit)="login()">


        <div class="form-group">
          <label class="form-label" for="username">Имя пользователя</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-input"
            [(ngModel)]="username"
            [disabled]="isLoading"
            required
          />
        </div>

        <div class="form-group">
          <label class="form-label" for="password">Пароль</label>
          <div class="pass-cintainer">
            <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            class="form-input"
            [(ngModel)]="password"
            [disabled]="isLoading"
            required
            />
            <button type="button" (click)="showPassword = !showPassword" class="icon-button">
              <img
                *ngIf="!showPassword"
                src="/assets/icons/eye-closed.svg"
                alt="Показать пароль"
                width="18"
                height="18"
              />
              <img
                *ngIf="showPassword"
                src="/assets/icons/eye.svg"
                alt="Скрыть пароль"
                width="18"
                height="18"
              />
            </button>
          </div>

        </div>

        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <button type="submit" class="submit-button" [disabled]="isLoading">
          <p *ngIf="!isLoading">Войти</p>
          <p *ngIf="isLoading" class="loading-text">
            <span class="spinner"></span>
            Вход...
          </p>
        </button>
      </form>
    </div>
  </div>
</div>
